<!-- Footer -->
<footer class="footer font-small blue pt-4 bg-secondary text-light">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">My Site</h5>
            <p>
                Our organization is a technology company that focuses on competitive programming challenges for both consumers and businesses, where developers compete by trying to program according to provided specifications. have been over 245 million course enrollments. Students and instructors come from 190+ countries and 2/3 of students are located outside of the U.S. we also has over 4,000 enterprise customers and 80% of Fortune 100 companies use Udemy for employee upskilling. Students take courses largely as a means of improving job-related skills.
            </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Follow Us On</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-dark"><span class="fa fa-facebook"></span> Facebook</a>
                </li>
                <li>
                    <a href="#" class="text-dark"><span class="fa fa-google"></span> Google</a>
                </li>
                <li>
                    <a href="#" class="text-dark"><span class="fa fa-twitter"></span> Twitter</a>
                </li>
                <li>
                    <a href="#" class="text-dark"><span class="fa fa-git"></span> GitHub</a>
                </li>
            </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Join Us On</h5>

            <ul class="list-unstyled">
            <li>
                <a href="#" class="text-dark"><span class="fa fa-tumblr-square"></span> Tumbler</a>
            </li>
            <li>
                <a href="#" class="text-dark"><span class="fa fa-medium"></span> Medium</a>
            </li>
            <li>
                <a href="#" class="text-dark"><span class="fa fa-soundcloud"></span> Soundcloud</a>
            </li>
            <li>
                <a href="#" class="text-dark"><span class="fa fa-wordpress"></span> Wordpress</a>
            </li>
            </ul>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#" class="text-dark">MySite</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->